/* Fund button on dashboard */
.fundButtonCustom {
  background-color: white !important; /* Blue */
  color: #5a5956 !important;
  border-radius: 8px !important;
  padding: 12px 12px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}

/* Ensure hover & active styles work */
.fundButtonCustom:hover {
  background-color: rgb(236, 236, 236) !important; /* Darker blue */
}

.fundButtonCustom:active {
  background-color: rgb(236, 236, 236) !important;
}
